<h1>Biorhythms calculator</h1>
<div class="form-cont">
  <form>
    <label for="birthday">Please enter your birthday:</label>
    <input type="date" id="birthday" ng-model="$ctrl.birthday" max="{{$ctrl.birthdayMax | date:'yyyy-MM-dd'}}" min="{{$ctrl.birthdayMin | date:'yyyy-MM-dd'}}">
    <button id="getBioBtn" ng-click="$ctrl.getYourResult($ctrl.birthday)">calculate</button>
  </form>
  <p ng-bind="$ctrl.howManyLived" ng-show="$ctrl.tableData"></p>
</div>
<div class="outer-cont" ng-class="show">
  <div class="table-cont">
    <table class="table-bio centrify">
      <thead>
        <tr>
          <th>Date</th>
          <th>Physical</th>
          <th>Emotional</th>
          <th>Intellectual</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.tableData">
          <td>{{item.date | date:'d MMM'}}</td>
          <td ng-class="$ctrl.getColor(item.physical)">{{item.physical + '%'}}</td>
          <td ng-class="$ctrl.getColor(item.emotional)">{{item.emotional + '%'}}</td>
          <td ng-class="$ctrl.getColor(item.intellectual)">{{item.intellectual + '%'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="chart-cont" ng-controller="LineCtrl">
    <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas>
  </div>
</div>
