<h1>Biorhythms calculator</h1>

<form class="centrify">
  <label for="birthday">Please enter your birthday:</label>
  <input type="date" id="birthday" max={{$ctrl.forbidFuture()}}>
  <button id="getBioBtn" ng-click="$ctrl.yourResult()">calculate</button>
</form>

<p class="centrify">
  <span ng-bind="$ctrl.howManyLived.days[0]"></span>
  <span ng-bind="$ctrl.howManyLived.days[1]"></span>
  <span ng-bind="$ctrl.howManyLived.days[2]"></span>
  <span ng-bind="$ctrl.howManyLived.weeks[0]"></span>
  <span ng-bind="$ctrl.howManyLived.weeks[1]"></span>
  <span ng-bind="$ctrl.howManyLived.weeks[2]"></span>
  <span ng-bind="$ctrl.howManyLived.years[0]"></span>
  <span ng-bind="$ctrl.howManyLived.years[1]"></span>
  <span ng-bind="$ctrl.howManyLived.years[2]"></span>
</p>

<div>
  <table class="table-bio centrify">
    <thead>
    <tr>
      <th>Date of birth</th>
      <th>Physical</th>
      <th>Emotional</th>
      <th>Intellectual</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in $ctrl.dataForDay">
      <td>{{data[0]}}</td>
      <td ng-style={{data[2]}}>{{data[1]}}</td>
      <td ng-style={{data[4]}}>{{data[3]}}</td>
      <td ng-style={{data[6]}}>{{data[5]}}</td>
    </tr>
    </tbody>
  </table>
</div>
