<h1>Biorhythms calculator</h1>

<form class="centrify">
  <label for="birthday">Please enter your birthday:</label>
  <input type="date" id="birthday" ng-model="$ctrl.birthday" max="{{$ctrl.birthdayMax | date:'yyyy-MM-dd'}}" min="{{$ctrl.birthdayMin | date:'yyyy-MM-dd'}}">
  <button id="getBioBtn" ng-click="$ctrl.getYourResult($ctrl.birthday)">calculate</button>
</form>

<p class="centrify" ng-bind="$ctrl.howManyLived" ng-show="$ctrl.calculated"></p>

<div style="max-height: 500px; position: relative;">
  <table style="overflow: scroll" class="table-bio centrify">
    <thead>
    <tr>
      <th>Date</th>
      <th>Physical</th>
      <th>Emotional</th>
      <th>Intellectual</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in $ctrl.tableData">
      <td>{{data[0] | date:'dd MMM y'}}</td>
      <td ng-class="$ctrl.setColor(data[1][0])">{{data[1][0] + '%'}}</td>
      <td ng-class="$ctrl.setColor(data[1][1])">{{data[1][1] + '%'}}</td>
      <td ng-class="$ctrl.setColor(data[1][2])">{{data[1][2] + '%'}}</td>
    </tr>
    </tbody>
  </table>
</div>
