html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

h1, .table-bio td {
  text-align: center;
}

biorhythms-calc, .outer-cont, .table-bio {
  width: 100%;
}

.form-cont {
  text-align: center;
}

.not-showed {
  display: none;
}

.showed {
  display: flex;
  justify-content: center;
}

.table-cont {
  width: 480px;
  min-width: 400px;
  height: 640px;
  margin: 0 2rem 1rem;
  overflow: auto;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.chart-cont {
  width: 800px;
  min-width: 720px;
  position: relative;
  margin: 0 2rem 1rem;
}

.table-bio {
  margin: 0 auto;
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.table-bio tbody tr:nth-child(even) {
  background: #f1efef;
}

.table-bio thead {
  background: lightgrey;
}

table.table-bio th {
  text-transform: uppercase;
}

table.table-bio th, table.table-bio td {
  padding: 4px 0;
}

.positive {
  color: #0eaf0e;
}

.negative {
  color: red;
}

.nocolor {
  color: initial;
}
