html {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

h1, .table-bio td, .form-cont {
  text-align: center;
}

h1, p, input, button, .table-cont, .chart-cont {
  margin: 0 0 1.34rem;
}

h1, .form-cont {
  margin-top: 1.34rem;
}

.form-cont {
  margin-bottom: 2.68rem;
}

biorhythms-calc, .outer-cont, .table-bio {
  width: 100%;
}

.btn {
  font-size: 0.958em;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  border: 2px solid darkslateblue;
  border-radius: 2px;
  background: darkslateblue;
  color: #fff;
  cursor: pointer;
}

.outer-cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.chart-cont {
  width: 50rem;
  min-width: 20rem;
}

.table-cont {
  width: 30rem;
  height: 40rem;
  overflow: auto;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.table-bio {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
}

.table-bio tbody tr:nth-child(even) {
  background: #f1efef;
}

.table-bio thead {
  background: lightgrey;
}

.table-bio th {
  text-transform: uppercase;
}

.table-bio th, .table-bio td {
  padding: 4px 0;
  width: 7.3rem; /* 117px */
}

.positive {
  color: #0eaf0e;
}

.negative {
  color: red;
}

.nocolor {
  color: initial;
}
